//tipografia
$fuente_principal: 'Monserrat', sans-serif;

/// colores
$blanco: #ffffff;
$verde: #4cbbb3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;

body{
  background-color: $verde;
}
