//tipografia
$fuente_principal: 'Monserrat', sans-serif;

/// colores
$blanco: #ffffff;
$verde: #445D48;
$rosa: #FDE5D4;
$amarillo: #A39D37;
$azul: #032b47;
$negro: #000000;


// media querys o tamanos

$telefono: 420px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
